* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #3e4462;
}

a {
  text-decoration: none;
  color: inherit;
}
.title {
  font-size: 3em;
  font-kerning: -3px;
  font-weight: 700;
  color: white;
}

.description {
  color: white;
}
.removeBB {
  border-bottom: none !important;
}

.customeTextSize {
  font-size: 0.8rem;
}

section {
  padding: 27vh 0;
  height: 100vh;
  /* background-color: azure; */
}
.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.big-background-image {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.leftColumn {
  padding: 10px;
}

.card {
  padding: 20px;
  border-radius: 20px;
}

.card-title {
  letter-spacing: -1.5px;
  font-weight: 600;
}

.inputWithIcon input[type="text"] {
  padding-left: 54px;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon input {
  border-radius: 8px;
  border: none;
  background-color: #eff2f6;
  padding: 5%;
}

.fa-user {
  position: absolute;
  top: 50%;
  left: 22px;
}
button {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  border-radius: 8px !important;
  font-weight: 600 !important;
}

@media screen and (max-width: 768px) {
  section {
    padding: 18vh 0;
    height: 100vh;
  }
}

@media screen and (max-width: 768px) {
  section {
    padding: 18vh 0;
    height: 100vh;
  }
}

@media screen and (max-width: 320px) {
  .big-background-image {
    width: auto;
    height: 100%;
    background-repeat: repeat;
  }

  .card {
    padding: 7px;
    border-radius: 20px;
  }

  section {
    padding: 10px 0;
  }
}
